VITE_SUPABASE_URL=https://ufnbkhdegpgjqlkegaju.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmbmJraGRlZ3BnanFsa2VnYWp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5MTQ5MDAsImV4cCI6MjA4MTQ5MDkwMH0.ZmT4DRFPSMLKguVpG9y0_73MLC5JEY7ivY5ertHiZIc